In [1]:
import pandas as pd

In [30]:
#Load Dataset
file_path = 'spotify_churn_dataset.csv'
df = pd.read_csv(file_path)

#Display Information
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   user_id                8000 non-null   int64
 1   gender                 8000 non-null   object
 2   age                    8000 non-null   int64
 3   country                8000 non-null   object
 4   subscription_type      8000 non-null   object
 5   listening_time         8000 non-null   int64
 6   songs_played_per_day   8000 non-null   int64
 7   skip_rate              8000 non-null   float64
 8   device_type            8000 non-null   object
 9   ads_listened_per_week  8000 non-null   int64
 10  offline_listening      8000 non-null   int64
 11  is_churned             8000 non-null   int64
dtypes: float64(1), int64(7), object(4)
memory usage: 750.1+ KB

,user_id,gender,age,country,subscription_type,listening_time,songs_played_per_day,skip_rate,device_type,ads_listened_per_week,offline_listening,is_churned
0,1,Female,54,CA,Free,26,23,0.20,Desktop,31,0,1
1,2,Other,33,DE,Family,141,62,0.34,Web,0,1,0
2,3,Male,38,AU,Premium,199,38,0.04,Mobile,0,1,1
3,4,Female,22,CA,Student,36,2,0.31,Mobile,0,1,0
4,5,Other,29,US,Family,250,57,0.36,Mobile,0,1,1

In [ ]:
#Create a copy of the dataset and remove user_id column
df_clean = df.drop(columns='user_id').copy()

#Convert churn status from 0/1 to No/Yes
df_clean['is_churned'] = df_clean['is_churned'].map({0: 'No', 1: 'Yes'})

#Map country codes to full country names
country_mapping = {'CA': 'Canada', 'DE': 'Germany', 'AU': 'Australia', 'US': 'United States', 'UK': 'United Kingdom', 'IN': 'India', 'FR': 'France', 'PK': 'Pakistan'}
df_clean['country'] = df_clean['country'].map(country_mapping)

#Format column names
columns_rename = {col: col.replace('_', ' ').title() for col in df_clean.columns}
df_clean.rename(columns=columns_rename, inplace=True)

#Display the cleaned dataset
display(df_clean.head())

,Gender,Age,Country,Subscription Type,Listening Time,Songs Played Per Day,Skip Rate,Device Type,Ads Listened Per Week,Offline Listening,Is Churned
0,Female,54,Canada,Free,26,23,0.20,Desktop,31,0,Yes
1,Other,33,Germany,Family,141,62,0.34,Web,0,1,No
2,Male,38,Australia,Premium,199,38,0.04,Mobile,0,1,Yes
3,Female,22,Canada,Student,36,2,0.31,Mobile,0,1,No
4,Other,29,United States,Family,250,57,0.36,Mobile,0,1,Yes

In [ ]:
#Export cleaned dataset to CSV
df_clean.to_csv('spotify_churn_clean.csv', index=False)